@snack-bar-bg-color: #262626;
@snack-bar-text-color: #F7F7F7;

@bg-image-color: #F7F7F7;
@hr-color: #CDCDCD;
@header-color: #E1E1E1;

.BoxShadowHelper(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

.main {
    .BoxShadowHelper(1);
    position: relative;
    width: 42px;
    height: 45px;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);

    &[state="open"] {
        .BoxShadowHelper(2);
        width: auto;
        height: auto;
    }

    &[state="close"] {
        &:hover {
        .BoxShadowHelper(2);
        width: 170px;

            & .base-content-text {
                max-width: 100%;
                opacity: 1;
            }
        }
    }
}

.base-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);

    &-text {
        transition: all 0.4s cubic-bezier(.25,.8,.25,1);
        max-width: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        opacity: 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);

    &-text {
        text-align: center;
    }

    &-item {
        padding-left: 10px;
        padding-right: 5px;
    }

    &-button-text {
        padding: 0px;
        padding-right: 5px;
        margin: 0;
    }

    &-footer {
        display: flex;
        flex-direction: row-reverse;
    }
}

image-type-select {
    margin-bottom: 10px;
}

.image-type-select-header {
    background-color: @header-color;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.08em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.none {
    display: none;
}

.download-panel {
    direction: flex;
    flex-direction: row;
    align-items: center;
}

hr {
    width: 100%;
    border-color: @hr-color;
}