<div id="image-add" class="main" state="close">
    <div *ngIf="state == false">
        <div class="base-content">
            <material-button clear-size (click)="open()">
                <glyph icon="edit"></glyph>
            </material-button>
            <p class="base-content-text">Изменить фото</p>
        </div>
    </div>
    <div *ngIf="state == true" class="content">
        <p class="content-text">Изменение</p>
        <hr noshade>
        <material-input [(ngModel)]="image.name" label="Название" class="content-item"></material-input>
        <p class="content-text">Тип изображения</p>
        <image-type-select [selectedImageType]="image.imageType" (selectedImageType)="onImageTypeUpdate($event)" #imageType></image-type-select>
        <div class="download-panel content-item">
            <material-button clear-size (click)="onClear()">
                <glyph icon="clear"></glyph>
            </material-button>
            <material-button (click)="onSelect()" clear-size>
                <glyph icon="file_upload"></glyph>
                <input id="loader" type="file" (change)="onChange($event.target.files)" accept=".jpeg,.jpg" class="none">
            </material-button>
            <material-input [disabled]="true" id="label" [(ngModel)]="image.path" class="content-item"></material-input>
        </div>
        <hr noshade>
        <div class="content-footer">
            <material-button id="send" clear-size (click)="onSubmit()">
                <p class="content-button-text">Отправить</p>
                <glyph icon="send"></glyph>
            </material-button>
            <material-button clear-size (click)="close()">
                <glyph icon="arrow_back"></glyph>
            </material-button>
        </div>
    </div>
</div>