<div class="main">
    <div class="header">
        <div class="header-title">
            <p *ngIf="selectedImageType != null">{{selectedImageType.name}}</p>
            <p class="header-text" *ngIf="selectedImageType == null">Выберите тип</p>
        </div>
        <div class="header-button-set">
            <material-button clear-size id="selectImageType" (click)="Update()" state="open">
                <glyph icon="expand_more"></glyph>
            </material-button>
        </div>
    </div>
    <div id="content" class="content" state="open">
        <div *ngFor="let item of data.GetImageTypes()">
            <div *ngIf="selectedImageType != null">
                <div *ngIf="item.id != selectedImageType.id" class="item" (click)="Select(item.id)">
                    <div class="header-title">{{item.name}}</div>
                </div>
                <div *ngIf="item.id == selectedImageType.id" class="item-selected" (click)="Select(item.id)">
                    <div class="header-title">{{item.name}}</div>
                </div>
            </div>
            <div *ngIf="selectedImageType == null">
                <div class="item-selected" (click)="Select(item.id)">
                    <div class="header-title">{{item.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>