@main-color: #8BC34A;

@header-color: #E8E8E8;
@row-color: #E1E1E1;
@border-color: #ECECEC;
@hover-item-color: #DCEDC8;
@hover-container-color: #689F38;
@inverted-text-color: #FEF0EF;

.row-orientation() {
    display: flex;
    flex-direction: row;
}

.column-orientation() {
    display: flex;
    flex-direction: column;
}

.border(@left, @top, @right, @bottom, @color) {
    border-left-width: @left;
    border-top-width: @top;
    border-right-width: @right;
    border-bottom-width: @bottom;
    border-style: solid;
    border-color: @color;
}

.main {
    .column-orientation();
    align-items: stretch;

    
}

.header {
    .row-orientation();
    background-color: @header-color;

    &-title {
        padding: 10px;
        flex-grow: 1;
        }

    &-button-set {
        .row-orientation();
    }

    &-text {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

.content {
    .column-orientation();
    align-items: stretch;

    & > div:hover {
        &:first-child {
            margin-bottom: 10px;
        }

        &:last-child {
            margin-top: 10px;
        }

        &:not(:last-child):not(:first-child) {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    max-height: 2000vmax;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;

    &[state="open"] {
        display: flex;
    }

    &[state="close"] {
        overflow: hidden;
        opacity: 0;
        max-height: 0;
        pointer-events: none;
        transform: translateY(150px);
    }
}

.item {
    .row-orientation();
    .border(0px, 1px, 0px, 1px, @border-color);

    &-selected {
        .row-orientation();
        .border(4px, 1px, 0px, 1px, @border-color);
        border-left-color: @main-color;

        &:hover {
            .border(4px, 1px, 0px, 1px, @hover-container-color);
            border-left-color: @border-color;
            box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
            background-color: @hover-container-color;
            color: @inverted-text-color;
        }
    }

    &:hover {
        background-color: @hover-item-color;
    }
}

#selectImageType {
    transition-duration: 0.4s;

    &[state="open"] glyph {
        transform: rotate(0deg);
    }

    &[state="close"] glyph {
        transform: rotate(180deg);
    }
}

div {
    transition-duration: 0.4s;
}

glyph {
    transition-duration: 0.4s;
}