<div class="grid">
    <div class="grid-header">
        <div class="grid-item-id">#
            <glyph icon="arrow_drop_down"></glyph>
        </div>
        <div class="grid-item-name">Название
            <glyph icon="arrow_drop_down"></glyph>
        </div>
        <div class="grid-item-type">Вид
            <glyph icon="arrow_drop_down"></glyph>
        </div>
        <div class="grid-item-content">Краткое описание
            <glyph icon="arrow_drop_down"></glyph>
        </div>
        <div class="grid-item-count">Кол-во изображений
            <glyph icon="arrow_drop_down"></glyph>
        </div>
        <div class="grid-item-control">
            Управление
        </div>
    </div>
    <div class="grid-contents">
        <div class="grid-item grid-item-reveal" *ngFor="let item of paginator.selectedData; let i=index" [style.animation-delay]="(i * 0.1).toString() + 's'">
            <div class="grid-item-id">{{item.index}}</div>
            <div class="grid-item-name">{{item.data.name}}</div>
            <div class="grid-item-type">{{item.data.animalType.name}}</div>
            <div class="grid-item-content">{{item.data.shortContent}}</div>
            <div class="grid-item-count">{{item.data.images.length}}</div>
            <div class="grid-item-control">
                <material-button (click)="change(item.data)">
                    <glyph icon="mode_edit"></glyph>
                </material-button>
                <material-button (click)="delete(item.data)">
                    <glyph icon="delete"></glyph>
                </material-button>
            </div>
        </div>
    </div>
</div>
<div class="waiting-panel" *ngIf="paginator.selectedData.length == 0">
    <div class="waiting-panel-content">
        <p>Данные не найдены или не были загружены...</p>
        <glyph class="waiting-panel-icon" icon="hourglass_empty"></glyph>
    </div>
</div>
<div class="paginator">
    <material-button clear-size (click)="paginator.SelectFirstPage()">
        Первая
    </material-button>
    <material-button clear-size (click)="paginator.SelectPreviousPage()">
        Предыдущая
    </material-button>
    <div *ngFor="let pageIndex of paginator.numerator">
        <material-button *ngIf="paginator.selectedPage == pageIndex" clear-size class="paginator-selected-page paginator-item" (click)="paginator.UpdateSelectedPage(pageIndex)">
            {{pageIndex}}
        </material-button>
        <material-button *ngIf="paginator.selectedPage != pageIndex" clear-size class="paginator-item" (click)="paginator.UpdateSelectedPage(pageIndex)">
            {{pageIndex}}
        </material-button>
    </div>
    <material-button clear-size (click)="paginator.SelectNextPage()">
        Следующая
    </material-button>
    <material-button clear-size (click)="paginator.SelectLastPage()">
        Последняя
    </material-button>
</div>
<animal-add #animalAdd [images]="images" ></animal-add>
<animal-change #animalChange [selectedAnimal]="selectedAnimal" [images]="images"></animal-change>