<div class="main">
    <div class="image">
        <div *ngIf="image == null">
            <material-progress [indeterminate]="true"></material-progress>
        </div>
        <img id="image" [src]="image.picture">
    </div>
    <div class="action-panel" *ngIf="viewMode == false">
        <material-button clear-size (click)="delete()">
                <glyph icon="clear"></glyph>
        </material-button>
    </div>
    <div class="content">
        <p class="content-text">{{image.name}}</p>
    </div>
    <div class="snack-bar">
        <p class="snack-bar-text">{{image.name}}</p>
    </div>
</div>