@snack-bar-bg-color: #262626;
@snack-bar-text-color: #F7F7F7;

@bg-image-color: #F7F7F7;

.BoxShadowHelper(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

.main {
    .BoxShadowHelper(1);
    position: relative;
    width: 320px;
    height: 180px;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);

    &:hover {
        .BoxShadowHelper(2);

        & > .content {
            opacity: 0;
        }

        & > .snack-bar {
            .BoxShadowHelper(1);
            transform: translateY(0px);
            opacity: 1;
        }
    }
}

.image {
    width: 320px;
    height: 180px;
    background-color: @bg-image-color;
}

img {
    position: absolute;
    overflow: hidden;
    //max-height: 180px;
    max-width: 320px;
    background-size: contain;
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.75;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
    background-color: @bg-image-color;

    &-text {
        padding-left: 15px;
    }
}

.action-panel {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);

    &:hover {
        opacity: 1;
    }
}

.snack-bar {
    position: fixed;
    bottom: 0;
    margin-left: 45%;
    margin-right: 45%;
    right: 0;
    left: 0;
    transform: translateY(150px);
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
    opacity: 0;
    background-color: @snack-bar-bg-color;
    color: @snack-bar-text-color;
    z-index: 55;

    &-text {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }
}