.main {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  width: 320px;
  height: 180px;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.main:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.main:hover > .content {
  opacity: 0;
}
.main:hover > .snack-bar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transform: translateY(0px);
  opacity: 1;
}
.image {
  width: 320px;
  height: 180px;
  background-color: #F7F7F7;
}
img {
  position: absolute;
  overflow: hidden;
  max-width: 320px;
  background-size: contain;
}
.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.75;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #F7F7F7;
}
.content-text {
  padding-left: 15px;
}
.action-panel {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.action-panel:hover {
  opacity: 1;
}
.snack-bar {
  position: fixed;
  bottom: 0;
  margin-left: 45%;
  margin-right: 45%;
  right: 0;
  left: 0;
  transform: translateY(150px);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
  background-color: #262626;
  color: #F7F7F7;
  z-index: 55;
}
.snack-bar-text {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
