@main-color: #AED581;
@extra-color: darken(@main-color, 12%);
@text-color: #212121;
@text-color-inverted: #FEF0EF;

.shadow() {
    box-shadow: 0px 2px 16px rgba(0,0,0,0.25);
}

.primary-text() {
    color: @text-color-inverted;
    font-size: 1.15em;
}

.main{
    .shadow();
    width: auto;
    min-height: 45px;
    height: auto;
    padding: 5px;
    padding-left: 15px;
    background-color: @main-color;
    position: relative;
    z-index: inherit;
}

.tools-panel{
    .shadow();
    background-color: @extra-color;
    width: 100%; 
    height: 30px;
}

.title{
    .primary-text();
}

glyph {
    color: @text-color-inverted;
}