<div class="main">
    <p class="title">Панель администратора</p>
    <material-button clear-size (click)="onUpdate()">
        <glyph icon="update"></glyph>
    </material-button>
</div>
<!--<div class="tools-panel"></div>-->