.main {
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  width: auto;
  min-height: 45px;
  height: auto;
  padding: 5px;
  padding-left: 15px;
  background-color: #AED581;
  position: relative;
  z-index: inherit;
}
.tools-panel {
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  background-color: #90c653;
  width: 100%;
  height: 30px;
}
.title {
  color: #FEF0EF;
  font-size: 1.15em;
}
glyph {
  color: #FEF0EF;
}
