<div class="main">
    <div class="header">
        <div class="header-title">
            {{selectedAnimalType.name}}
        </div>
        <div class="header-button-set">
            <material-button clear-size id="selectAnimalType" (click)="Update()" state="open">
                <glyph icon="expand_more"></glyph>
            </material-button>
        </div>
    </div>
    <div id="content" class="content" state="open">
        <div *ngFor="let item of data.GetAnimalTypes()">
            <div *ngIf="item.id != selectedAnimalType.id" class="item" (click)="Select(item.id)">
                <div class="header-title">{{item.name}}</div>
            </div>
            <div *ngIf="item.id == selectedAnimalType.id" class="item-selected" (click)="Select(item.id)">
                <div class="header-title">{{item.name}}</div>
            </div>
        </div>
    </div>
</div>