.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: #E8E8E8;
}
.header-title {
  padding: 10px;
  flex-grow: 1;
}
.header-button-set {
  display: flex;
  flex-direction: row;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 2000vmax;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
  transition-delay: 0.1s;
}
.content > div:hover:first-child {
  margin-bottom: 10px;
}
.content > div:hover:last-child {
  margin-top: 10px;
}
.content > div:hover:not(:last-child):not(:first-child) {
  margin-top: 10px;
  margin-bottom: 10px;
}
.content[state="open"] {
  display: flex;
}
.content[state="close"] {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
  transform: translateY(150px);
}
.item {
  display: flex;
  flex-direction: row;
  border-left-width: 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #ECECEC;
}
.item-selected {
  display: flex;
  flex-direction: row;
  border-left-width: 4px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #ECECEC;
  border-left-color: #8BC34A;
}
.item-selected:hover {
  border-left-width: 4px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #689F38;
  border-left-color: #ECECEC;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
  background-color: #689F38;
  color: #FEF0EF;
}
.item:hover {
  background-color: #DCEDC8;
}
#selectAnimalType {
  transition-duration: 0.4s;
}
#selectAnimalType[state="open"] glyph {
  transform: rotate(0deg);
}
#selectAnimalType[state="close"] glyph {
  transform: rotate(180deg);
}
div {
  transition-duration: 0.4s;
}
glyph {
  transition-duration: 0.4s;
}
