.main {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  transition-duration: 0.4s;
  transition-delay: 0.2s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow: hidden;
}
.main[state="open"] {
  max-height: 2000px;
}
.main[state="close"] {
  position: relative;
  transform: translateX(-250px);
  max-height: 0;
  opacity: 0;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: #8BC34A;
  align-items: center;
}
.header-title {
  display: flex;
  flex-direction: row;
  color: #FEF0EF;
  font-size: 1.15em;
  padding: 15px;
  flex-grow: 1;
}
.header-button-set {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 10px;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.content-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 0;
}
.content-item {
  display: flex;
  flex-direction: column;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-style: solid;
  border-color: #ECECEC;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
}
.content-item-header {
  color: #111111;
  font-size: 1.05em;
  background-color: #f5f5f5;
  padding: 5px;
  padding-left: 10px;
  flex-grow: 1;
}
.content-item:last-child {
  margin-bottom: 0px;
}
.content-base {
  flex-grow: 0;
}
.content-addition {
  flex-grow: 3;
}
.content > div:first-child {
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: #ECECEC;
}
.content > div:last-child {
  border-left-width: 1px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: #ECECEC;
}
.content > div:not(:first-child):not(:last-child) {
  border-left-width: 1px;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: #ECECEC;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  background-color: #8BC34A;
  color: #FEF0EF;
}
.footer-button-set {
  display: flex;
  flex-direction: row;
  background-color: #E8E8E8;
  padding: 10px;
}
.footer-button-set > material-button {
  background-color: #8BC34A;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
.footer-button-set > material-button:hover {
  color: #111111;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.15);
}
textarea,
input {
  font-size: 1.05em;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-style: solid;
  border-color: #E1E1E1;
  align-items: stretch;
  width: max-content;
  color: #111111;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #E8E8E8;
  text-overflow: ellipsis;
}
textarea:focus,
input:focus {
  outline: none;
}
glyph {
  color: #FEF0EF;
}
* {
  transition-duration: 0.4s;
}
