<div id="tab" class="main" state="close">
    <div class="header">
        <div class="header-title">Изменение данных</div>
        <div class="header-button-set">
            <material-button icon (click)="CloseTab()">
                <glyph icon="clear"></glyph>
            </material-button>
        </div>
    </div>
    <div class="content">
        <div class="content-column content-base">
            <div class="content-item">
                <div class="content-item-header">
                    Название
                </div>
                <input type="text" [(ngModel)]="animal.name" placeholder="Введите имя">
            </div>
            <div class="content-item">
                <div class="content-item-header">
                    <div>Вид</div>
                </div>
                <animal-type-select [selectedAnimalType]="animal.animalType" #animalType></animal-type-select>
            </div>
            <div class="content-item">
                <div class="content-item-header">
                    Краткое описание
                </div>
                <textarea type="text" [(ngModel)]="animal.shortContent" placeholder="Введите текст"></textarea>
            </div>
            <div class="content-item">
                <div class="content-item-header">
                    Полное описание
                </div>
                <textarea type="text" [(ngModel)]="animal.content" placeholder="Введите текст"></textarea>
            </div>
        </div>
        <div class="content-column content-addition">
            <image-selector [selectedImages]="animal.images" (outSelectedImages)="onUpdateImages($event)" [images]="images"></image-selector>
        </div>
    </div>
    <div class="footer">
        <div class="footer-button-set">
            <material-button (click)="UpdateAnimal()">Обновить</material-button>
            <material-button (click)="CloseTab()">Скрыть</material-button>
        </div>
    </div>
</div>