<div class="header">
    <div class="button-set">
        <material-button (click)="openAddPanel()" icon>
            <glyph icon="note_add"></glyph>
        </material-button>
    </div>
    <div class="title">
        <p class="title-text">{{title}}</p>
    </div>
    <div class="button-set">
        <glyph icon="search" class="search-icon"></glyph>
        <input class="search" [ngModel]="temp" (ngModelChange)="onChange($event)" />
    </div>
</div>
<div>
    <ng-content></ng-content>
</div>
<div class="extra-panel"></div>