@main-color: #8BC34A;
@button-color: lighten(@main-color, 8%);
@extra-color: darken(@main-color, 12%);
@text-color: #FEF0EF;
@text-color-inverted: #212121;

@search-min-width: 100px;
@search-max-width: 175px;

.shadow() {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.35);
}

.primary-text() {
    color: @text-color;
    font-size: 1.15em;
}

.search-text() {
    color: @text-color-inverted;
    font-size: 1.05em;
}

.row-orientation() {
    display: flex;
    flex-direction: row;
}

.header {
    .row-orientation();
    align-items: stretch;

    background-color: @main-color;
}

.button-set {
    .row-orientation();
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    flex-grow: 0;
}

.title {
    .row-orientation();
    align-items: stretch;

    &-text {
        .primary-text();
        align-items: center;
    }

    flex-grow: 1;
}

.search {
    .search-text();
    width: @search-min-width;
    transition-duration: 0.4s;
    border-color: @extra-color;
    border-style: solid;
    text-overflow: ellipsis;

    &:focus {
        outline: none;
        width: @search-max-width;
    }

    &:hover {
        width: @search-max-width;
    }

    &-icon {
        padding: 5px;
    }
}

.add-button {
    transition-duration: 0.4s;

    &:hover {
        transform: rotate(45deg);
    }
}

glyph {
    color: @text-color;
}