.header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #8BC34A;
}
.button-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 0;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
}
.title-text {
  color: #FEF0EF;
  font-size: 1.15em;
  align-items: center;
}
.search {
  color: #212121;
  font-size: 1.05em;
  width: 100px;
  transition-duration: 0.4s;
  border-color: #6c9c34;
  border-style: solid;
  text-overflow: ellipsis;
}
.search:focus {
  outline: none;
  width: 175px;
}
.search:hover {
  width: 175px;
}
.search-icon {
  padding: 5px;
}
.add-button {
  transition-duration: 0.4s;
}
.add-button:hover {
  transform: rotate(45deg);
}
glyph {
  color: #FEF0EF;
}
