<div id="tab" class="main" state="close">
    <div class="header">
        <div class="header-title">Добавление нового вида животных</div>
        <div class="header-button-set">
            <material-button icon (click)="CloseTab()">
                <glyph icon="clear"></glyph>
            </material-button>
        </div>
    </div>
    <div class="content">
        <div class="content-column content-base">
            <div class="content-item">
                <div class="content-item-header">
                    Название
                </div>
                <input type="text" [(ngModel)]="animalType.name" placeholder="Введите имя">
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-button-set">
            <material-button (click)="AddAnimalType()">Добавить</material-button>
            <material-button (click)="CloseTab()">Скрыть</material-button>
        </div>
    </div>
</div>