.main {
  display: flex;
  flex-direction: column;
  min-width: max-content;
  min-width: -webkit-max-content;
  align-items: stretch;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}
.content {
  display: flex;
  flex-direction: row;
  min-width: max-content;
  min-width: -webkit-max-content;
  min-height: max-content;
  min-height: -webkit-max-content;
  z-index: 3;
  width: inherit;
  height: inherit;
}
nav-bar {
  z-index: 2;
  flex-grow: 0;
  box-shadow: 4px 1px 10px rgba(0, 0, 0, 0.2);
}
.right-side {
  z-index: 1;
  flex-grow: 3;
  max-width: inherit;
  max-height: inherit;
}
info-bar {
  z-index: 4;
}
* {
  position: relative;
}
