.row-orientation() {
    display: flex;
    flex-direction: row;
}

.column-orientation() {
    display: flex;
    flex-direction: column;
}

.flex-item(@grow) {
    flex-grow: @grow;
}

.min-width() {
    min-width: max-content;
    min-width: -webkit-max-content;
}

.min-height() {
    min-height: max-content;
    min-height: -webkit-max-content;
}

.shadow() {
    box-shadow: 4px 1px 10px rgba(0,0,0,0.2);
}

.main {
    .column-orientation();
    .min-width();
    align-items: stretch;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.content {
    .row-orientation();
    .min-width();
    .min-height();
    z-index: 3;
    width: inherit;
    height: inherit;
}

nav-bar {
    z-index: 2;
    .flex-item(0);
    .shadow();
}

.right-side {
    z-index: 1;
    .flex-item(3);
    max-width: inherit;
    max-height: inherit;
}

info-bar {
    z-index: 4;
}

* {
    position: relative;
}