<div class="main">
    <info-bar id="info-bar"></info-bar>
    <div class="content">
        <nav-bar [navigation]="navigation" (selectedPage)="onPageChange($event)"></nav-bar>
        <table-set *ngIf="page != 'Image'" [title]="content" (validationParameter)="onValidationParameterChange($event)" class="right-side">
            <animal-table *ngIf="data.GetAnimals() != null && page == 'Animal'" [images]="data.GetImages()" [animals]="data.GetAnimals()" [validationParameter]="validationParameter"
                #table></animal-table>
            <animal-type-table *ngIf="data.GetAnimalTypes() != null && page == 'AnimalType'" [animalTypes]="data.GetAnimalTypes()" [validationParameter]="validationParameter"
                #table></animal-type-table>
        </table-set>
        <image-viewer [images]="data.GetImages()" *ngIf="page == 'Image'" class="right-side"></image-viewer>
    </div>
</div>