.main {
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.slider {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  overflow-y: hidden;
  width: 100%;
  position: absolute;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.slider:hover {
  overflow-x: auto;
}
.main-image {
  width: 320px;
  height: 180px;
  background-color: #11aff4;
}
.main-image-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.main-image-content-text {
  padding-left: 15px;
}
.main-viewport {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.main-viewport-image {
  height: 10px;
  margin: 0 0 0 0;
  position: relative;
  flex-grow: 1;
  background-color: #F7F7F7;
}
.main-viewport-empty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 15px;
  text-align: center;
}
.main-viewport-empty-icon {
  animation-name: waiting-icon;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.2s;
  animation-timing-function: cubic-bezier(0.67, 0, 0.23, 1);
}
@keyframes waiting-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
image-add {
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 2;
}
image-change {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 2;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
*::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
