<div class="main">
    <div id="slider" class="slider">
        <div *ngFor="let image of images">
            <thumbnail [viewMode]="false" [selectedImage]="image" (click)="onSelect(image)"></thumbnail>
        </div>
    </div>
    <div id="viewport" class="main-viewport">
        <div class="main-viewport-image">
            <image-add></image-add>
            <image-change *ngIf="selectedImage != null" [image]="selectedImage"></image-change>
            <div *ngIf="selectedImage == null" class="main-viewport-empty">
                <p>Выберите изображение...</p>
                <glyph class="main-viewport-empty-icon" icon="hourglass_empty"></glyph>
            </div>
            <div *ngIf="selectedImage != null">
                <img id="selectedImage" [src]="selectedImage.picture">
            </div>
        </div>
    </div>
</div>