.BoxShadowHelper(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

.row-orientation() {
    display: flex;
    flex-direction: row;
}

.main {
    position: relative;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.slider {
    .row-orientation();
    align-content: space-around;
    overflow-y: hidden;
    width: 100%;
    position: absolute;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
        overflow-x: auto;
    }
}

.main-image {
    width: 320px;
    height: 180px;
    background-color: #11aff4;

    &-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &-text {
            padding-left: 15px;
        }
    }
}

.main-viewport {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;

    &-image {
        height: 10px;
        margin: 0 0 0 0;
        position: relative;
        flex-grow: 1;
        background-color: #F7F7F7; 
    }

    &-empty {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 15px;
        text-align: center;

        &-icon {
        animation-name: waiting-icon;
        animation-duration: 0.6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 0.2s;
        animation-timing-function: cubic-bezier(.67,0,.23,1);
    }
    }
}

@keyframes waiting-icon {
    0%{
        transform: rotate(0deg)
    }

    100%{
        transform: rotate(180deg);
    }
}

image-add {
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 2;
}

image-change {
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 2;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

*::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;

    &:hover {

    }
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;

    &:hover {
        
    }
}