@main-color: #8BC34A;

@header-color: #E8E8E8;
@row-color: #E1E1E1;
@border-color: #ECECEC;
@hover-item-color: #DCEDC8;
@hover-container-color: #689F38;
@inverted-text-color: #FEF0EF;
@text-color: #111111;

.row-orientation() {
    display: flex;
    flex-direction: row;
}

.column-orientation() {
    display: flex;
    flex-direction: column;
}

.primary-text() {
    color: @inverted-text-color;
    font-size: 1.15em;
}

.secondary-text() {
    color: @text-color;
    font-size: 1.05em;
}

.border(@left, @top, @right, @bottom, @color) {
    border-left-width: @left;
    border-top-width: @top;
    border-right-width: @right;
    border-bottom-width: @bottom;
    border-style: solid;
    border-color: @color;
}

.max-width() {
    max-width: -moz-max-content;
    max-width: -webkit-max-content;
    max-width: max-content;
}

.main {
    .column-orientation();
    .max-width();
    margin-top: 15px;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow: hidden;

    &[state="open"] {
        max-height: 2000px;
        max-width: 2000px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
    }

    &[state="close"] {
        position: relative;
        transform: translateX(-250px);
        max-height: 0;
        max-width: 0;
        opacity: 0;
    }
}

.header {
    .row-orientation();
    background-color: @main-color;
    align-items: center;

    &-title {
        .row-orientation();
        .primary-text();
        padding: 15px;
        flex-grow: 1;
    }

    &-button-set {
        .row-orientation();
        align-items: stretch;
        padding: 10px;
    }
}

.content {
    .row-orientation();
    align-items: stretch;

    &-column {
        .column-orientation();
        align-items: stretch;
        flex-grow: 0;
    }

    &-item {
        .column-orientation();
        .border(0px, 0px, 0px, 0px, @border-color);
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
        margin-bottom: 25px;

        &-header {
        .secondary-text();
        background-color: lighten(@header-color, 5%);
        padding: 5px;
        padding-left: 10px;
        flex-grow: 1;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &-base {
        flex-grow: 1;
    }

    & > div:first-child {
        .border(0px, 0px, 0px, 2px, @border-color)
    }

    & > div:last-child {
        //.border(1px, 0px, 0px, 2px, @border-color)
    }

    & > div:not(:first-child):not(:last-child) {
        //.border(1px, 0px, 1px, 2px, @border-color)
    }
}

.footer {
    .row-orientation();
    flex-direction: row;
    background-color: @main-color;
    color: @inverted-text-color;

    &-button-set {
        .row-orientation();
        align-items: stretch;
        background-color: @header-color;
        padding: 10px;
        flex-grow: 1;

        & > material-button {
            background-color: @main-color;
            transition-duration: 0.4s;
            transition-timing-function: ease-out;

            &:hover {
                color: @text-color;
                box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.15);
            }
        }
    }
}

textarea, input {
    .secondary-text();
    .border(0px, 0px, 0px, 0px, @row-color);
    align-items: stretch;
    color: #111111;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: @header-color;
    text-overflow: ellipsis;

    &:focus {
        outline: none;
    }
}

glyph {
    color: @inverted-text-color;
}

* {
    transition-duration: 0.4s;
}