/* Copyright (c) 2017, Es-Andrew. All rights reserved. Use of this source code
   is governed by a BSD-style license that can be found in the LICENSE file. */

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
