.main {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  width: 42px;
  height: 45px;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.main[state="open"] {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: auto;
  height: auto;
}
.main[state="close"]:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 170px;
}
.main[state="close"]:hover .base-content-text {
  max-width: 100%;
  opacity: 1;
}
.base-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.base-content-text {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.content-text {
  text-align: center;
}
.content-item {
  padding-left: 10px;
  padding-right: 5px;
}
.content-button-text {
  padding: 0px;
  padding-right: 5px;
  margin: 0;
}
.content-footer {
  display: flex;
  flex-direction: row-reverse;
}
image-type-select {
  margin-bottom: 10px;
}
.image-type-select-header {
  background-color: #E1E1E1;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.08em;
  padding-top: 5px;
  padding-bottom: 5px;
}
.none {
  display: none;
}
.download-panel {
  direction: flex;
  flex-direction: row;
  align-items: center;
}
hr {
  width: 100%;
  border-color: #CDCDCD;
}
