<div class = "main">
    <material-list>
        <div group>
            <material-list-item (click)="navigateToAnimalPage()">
                Животные
            </material-list-item>
            <material-list-item (click)="navigateToAnimalTypePage()">
                Виды животных
            </material-list-item>
            <material-list-item (click)="navigateToImagePage()">
                Изображения
            </material-list-item>
        </div>
    </material-list>
</div>