@border-color: #E1E1E1;
@border-width: 1px 1px 1px 1px;
@background-color: #FFFFFF;
@text-color: #262626;

.row-orientation() {
    display: flex;
    flex-direction: row;
}

.shadow() {
    box-shadow: 4px 1px 10px rgba(0,0,0,0.2);
}

.primary-text() {
    color: @text-color;
    font-size: 1.05em;
}

.default-border() {
    border-color: @border-color;
    border-width: @border-width;
    border-style: solid;
}

.main {
    height: auto;
    width: auto;
}
